services:
  go_app:
    restart: always
    build:
      context: .
      dockerfile: Dockerfile.go_app
    ports:
      - "4696:4696"
  nextjs:
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
